<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <title>Sunrise and Sunset</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/style.css">
    </header>
</html>
<body>

